*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

  :root{
      --bg:#ebeff1;
      --c1:#FDDB27FF;
      --c2:#1F94D4;

    }
  body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0e0d0d;
    text-align: left;
    background-color: var(--bg);
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
  /* top nav style */
  .topnav{
      position: relative;
  }
  .topnav .fab , .topnav .fa{
    position: relative;
    font-size: 1.2rem;
    color: var(--c2);

  }
  .topnav .fab:hover{
    transform: rotateY(180deg);
  }
  /* bottom nav style*/ 

  .navbar-brand span{
    color: var(--c2);
    }
.nav-link span{
    transition: all 0.5s ease;
    color:var(--primary);
}

  .nav-link span:hover,.active{
    color: var(--primary);
    font-weight: 900;
  }
  .dropdown-item:hover{
      background-color: var(--c2);
  }
  /*   Submit */
  .btn-info {
    color: #fff;
    background-color: var(--c2);
    border-color: var(--c1);
}
/*header style*/
  header{
      position: relative;
    }

.header-video{
    position: relative;
}
.carousel-caption{
    position: absolute;
    top:20%;
}
@media screen and (max-width:501px) {

    .carousel-caption{
    position: absolute;
    top:10%;
}
.carousel-caption h4{
    font-size: 13px;
}
.carousel-caption h1{
    font-size: 20px;
}
.carousel-caption a{
    padding: 8px;
}
}
/*booking style*/
.booking{
    position: relative;
}
.booking h2{
    color:var(--c2);
    font-weight: 900;
}
.btn-info {
  color: #fff;
  background-color: var(--c2);
  border-color: var(--c2);
}
.bookbtn , .submit{
    background-color: var(--c2);
    color:var(--c1);
    font-weight: 900;
    transition: all 0.5 ease;
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
  color: #fff;
  background-color: #1F94D4;
  border-color: #1F94D4;
}
.btn-info:hover {
    color: #fff;
    background-color: #1F94D4;
    border-color: #1F94D4;
}
.bookbtn:hover{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    color: var(--c1);
}


/*about style*/
@media screen and (min-width:992px) {
    .about-text{
        position: relative;
        right: 50px;
    }
        
}
.about-text h6{
    color: var(--c2);
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 20px;
}

.about-text h1{
    color: black;
    font-weight: 800;
}
/*feature style*/
.feature .fa{
    color:var(--c1);
    font-weight: 900;   
}
.feature h5{
    color: var(--c2);
    font-weight: 900;
}
.feature p{
    font-weight: 600;
}
/*destination style*/
.destination h6{
    letter-spacing: 5px;
    color: var(--c2);
    font-weight: 900;
}
.destination h1{
    font-weight: 900;
}
.destination-item img {
    transition: .5s;
  }
  
  .destination-item:hover img {
    transform: scale(1.3);
  }
  
  .destination-overlay {
    font-weight: 900;
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: .5s;
    /* z-index: 1; */
  }
  
  .destination-item:hover .destination-overlay {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-width: 30px;
  }
  /*services style*/
  .services h6{
    letter-spacing: 5px;
    color: var(--c2);
    font-weight: 900;
  }
  .services h1{
      font-weight: 800;
  }
  .services h5{
      color: var(--c2);
      font-weight: 900;
  }
  .services p{
      font-weight: 600;
  }
  .service-item {
    transition: .5s;
  }
  
  .service-item:hover {
    box-shadow: 0 0 30px #CCCCCC;
  }
  
  .service-item i {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--c2);
    background: #FFFF;
    color: var(--c1);
    transition: .5s;
  }
  
  .service-item:hover i {
    background: var(--c2);
    color: var(--c1);
  }
  
  /*packages style*/
.packages .title{
    letter-spacing: 5px;
    color: var(--c2);
    font-weight: 900;
}
.packages .fa{
font-weight: 900;
color: var(--c1);
}
.packages h5,.packages h6{
    color: var(--c1);
    font-weight: 900;
}
.package-item {
    transition: .5s;
  }
  
  .package-item:hover {
    box-shadow: 0 0 30px #CCCCCC;
  }
  
/*registration style*/
.register-details h6{
    column-rule: var(--c1);
    font-weight: 900;
    letter-spacing: 5px;
}
.register-details h1{
    color: white;
}

.register-details h1 span{
    color: var(--c1);
    font-weight: 900;
}
.register-details .fa-check{
    color:var(--c1);
    font-weight: 600;
}
.register .card-header h1{
    color:var(--c1);

}
.register .card-body small{
    color:red;
    display:none;
}
.register button{
color: var(--c1);
font-weight: 800;
}

.bg-registration {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/carousel-1.jpg), no-repeat center center;
    background-size: cover;
  }
/*team style*/
.team h6{
    font-weight: 900;
    color:var(--c2);
    letter-spacing: 5px;
}

.team-item {
    transition: .5s;
  }
.team-item h5{
    color: var(--c2);
    font-weight: 900;
}  
.team p{
    font-weight: 600;
}
.team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
  }
.team-social a.btn {

    position: relative;
    margin: 0 5px;
    margin-top: 100px;
    opacity: 0;
    padding: 10px 15px;
    outline: 1px solid var(--c1);
    color: white;
    transition: 0.5s;
  }
  .team-social a.btn:hover{
      background-color: var(--c1);
      color: white;
  }
  
  .team-item:hover {
    box-shadow: 0 0 30px #CCCCCC;
  }
  
  .team-item:hover .team-social {
    background: rgba(0, 0, 0, 0.5);
  }
  
  .team-item:hover .team-social a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
  }
  
  .team-item:hover .team-social a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
  }
  
  .team-item:hover .team-social a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .2s;
  }
  
  .team-item:hover .team-social a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .3s;
  }
  
  .team-item .team-img img {
    transition: .5s;
  }
  
  .team-item:hover .team-img img {
    transform: scale(1.2);
  }

  /*blog style*/
  .blog h6{
      color:var(--c2);
      font-weight: 900;
      letter-spacing: 5px;
  }

  .blog-item {
    transition: .5s;
  }
  
  .blog-item:hover {
    box-shadow: 0 0 30px #CCCCCC;
  }
  
  .blog-date {
    position: absolute;
    width: 60px;
    height: 45px;
    top: 30px;
    left: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--c1);
  }
  .blog-date h6{
      letter-spacing: 0px;
  }
  .blog-link a, .blog-link span{
      color: black;
      font-weight: 600;
  }
  .blog-date small{
      color: var(--c2);
      font-weight: 800;
  }
  .blog-date::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -15px;
    left: 0;
    border: 8px solid;
    border-color: transparent var(--c1) var(--c1) transparent;
    z-index: -1;
  }

  /*footer style*/
  .footer{
      background-color: var(--c2);
    }
  .footer .navbar-brand h1{
      color: var(--c1);
  }
  .footer .social a{
      background-color: var(--c1);
      padding:15px 20px;
      color: white;
      font-weight: 700;
      font-size: 15px;
      border-radius: 50%;
  }
.footer h5{
      color: var(--c1);
      font-weight:700 ;
  }  
  .footer .contact .fa{
    color: var(--c1);
    font-weight: 700;
  }
  .footer .contact p{
      color:white;
  }
  
.footer .signup {
    background-color: var(--c1);
    color:var(--c2);
    font-weight: 900;
    padding: 13px 3px;
    position:absolute;
    right: -6px;
    top:-5px;
}
.back-to-top{
    background-color: var(--c2);
    color: var(--c1);
    font-weight: 900;
    margin-left: 92%;
}
.back-to-top:hover{
    background-color: var(--c2);
    color: var(--c1);
    font-weight: 900;
}

.hotel-main{
    border: rgb(211, 210, 210) 1px solid;
    
    padding: 40px;
}


#mainDetail .main-details{
    padding: 50px;
}

.desc {
    margin-bottom: 100px;
}

.desc h5{
    line-height: 1.8;
}
.rooms{
    margin-bottom: 100px;
}
table, th, td {
    border: 1px solid rgb(201, 198, 198);
  }

th{
    text-align: center;
    padding: 10px;
    background-color: #1F94D4;
}

td{
    padding: 15px;
}

.serv-room span, .free-stuff span{
    color: green;
    font-size: 12px;
}
/* Animation Images */
.myimages {
  display: flex;
  overflow: hidden;
  height: 50vw;
  /* background: #333 */
}

.myimages img {
  max-width: 100%;
  vertical-align: middle;
  border: 2px solid white;
  box-sizing: border-box;
  transition: opacity .2s
}

.myimages:hover img {
  opacity: 0.5
}

.myimages img:hover {
  opacity: 1
}

/*------------------------------------ Panal For Country -------------------------------------------------*/
.inner{
  padding:20px;
}
.fmlyAd {
  background: #fff;
  border-bottom: 2px solid #CAD6E3;
  overflow: hidden;
}
.fmlyDest {
  overflow: hidden;
  padding: 20px;
}
.carLpage .h2Hdng, .route-panel h3 {
  margin-bottom: 10px;
  color:#203152;
}
.fmlyDest h4 {
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: 500;
  color: #203152;
}
@media (max-width: 1023px){
.frb .route-panel {
    float: left;
    width: 67%;
    padding-right: 20px;
}
}
.route-panel {
    padding-top: 50px;
}
@media (max-width: 1200px){
#share-itnry h4, .confirmHead h2, .confirmationPage .hotelInfo h2, .contBgWhite h4, .hRnearByHotel .cont span.tit, .hRnearByHotel h3, .header h4, .route-panel h3 {
    font-weight: 600;
}
}
.carLpage .h2Hdng, .route-panel h3 {
    margin-bottom: 10px;
}
@media only screen and (max-width: 1024px){
h1, h2, h3, h4 {
    line-height: 1.5;
    font-weight: 500;
}
}
@media (max-width: 1023px){
.frb .ad-block .inner.features ul li, .frb .route-panel .inner {
    float: left;
    width: 33%;
    word-break: break-all;
    margin: 0;
}
}
@media (max-width: 1023px){
.frb .route-panel {
    float: left;
    width: 67%;
    padding-right: 20px;
}
}
.route-panel {
    padding-top: 50px;
}
@media (max-width: 1023px){
.frb .ad-block .inner.features ul li, .frb .route-panel .inner {
    float: left;
    width: 33%;
    word-break: break-all;
    margin: 0;
}
}
@media (max-width: 1023px){
.ad-block .inner, .route-panel .inner {
    margin-bottom: 0;
}
}
@media (max-width: 1023px){
.frb .inner {
    margin-bottom: 30px;
    border: 0;
}
}
.frb .inner {
    border-bottom: 2px solid #CAD6E3;
    min-height: 326px;
    max-height: 326px;
    overflow: hidden;
    padding: 20px;
}

.whiteBg {
    background: #fff!important;
}
.carLpage .h2Hdng, .route-panel h3 {
  margin-bottom: 10px;
}
.scrollbox {
  height: 275px;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (max-width: 1023px){
.frb .ad-block .inner.features ul li, .frb .route-panel .inner {
    float: left;
    width: 33%;
    word-break: break-all;
    margin: 0;
}
}
.routes-list li {
  border-bottom: 1px solid #CAD6E3;
  display: block;
  float: left;
  width: 48%;
}

.packg-list li, .routes-list li, .topNav li, .trip li, .xplrlst li {
  list-style: none;
}
.routes-list li a {
  color: #4d6f93;
  cursor: pointer;
  display: block;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 0;
  position: relative;
  list-style-type: none;
}

.contBgWhite h4, .fh-Ad .bluBg .caption li, .flightSliderBg h4.hname, .flightSliderBg h5.title, .packg-list li .descp span.htl-name, .routes-list li a, .topNav a, .trip li .hdng-txt, .xplrlst li {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.routes-list li:nth-of-type(2n+2) {
  margin-left: 4%;
}

.routes-list li {
  border-bottom: 1px solid #CAD6E3;
  display: block;
  float: left;
  width: 48%;
}

/*   carusol  */
.wrapper{
  width:100%;
  padding-top: 20px;
  text-align:center;
}
/* h2{
  font-family:sans-serif;
  color:#fff;
} */
.carousel{
  width:90%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
}
.wrapper .slick-dots li button:before {
  font-size:20px;
  color:white;
}
/* Button Company In left side */
.btn-company{
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}